.banner {
  background-image: linear-gradient(225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%), url(../../images/banner.jpg);
  padding: 20px;
  color: white;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.banner h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

.banner h3 {
  font-size: 18px;
  opacity: 0.7;
  margin-bottom: 20px;
}
